.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.comment > img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentBox {
  /* TALK: 'flex:1' makes this element take as much space as it is left */
  flex: 1;
}

.commentContent {
  background: var(--gray-200);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime {
  display: flex;
  flex-direction: column;
}

.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  /* TALK: As this button is a icon, it's height is not determined by it's content, but rather by the line height */
  line-height: 0;
  border-radius: 2px;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background: transparent;
  /* TALK: Resets default HTML button tag border styling */
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  display: flex;
  align-items: center;
}

.commentBox footer button:hover {
  color: var(--green-300);
}

/* TALK: All phosphor icons are imported as svg, that's why you can select them as svg here */
.commentBox footer button svg {
  margin-right: 0.5rem;
}

/* TALK: '::before' literally applies this styles BEFORE the selected element */
.commentBox footer button span::before {
  /* TALK: "\2022" is the code for a little dot in the HTML content, just like &nbsp is for spacing */
  content: "\2022";
  padding: 0 0.25rem;
  border-radius: 2px;
}
